<div class="HomeHome row expanded ">
    <div class="topBar small-12 columns">
        <div class="logo"></div>
    </div>
    <div class="wrapper row expanded small-12 columns">
        <div class="large-3 columns">
            <div *ngIf="user != null">
                {{user.getFirstName() + ' ' + user.getLastName()}}
            </div>
            <div>
                <span class="fa fa-pencil"></span>
                Modifier mon profil
            </div>
        </div>
        <div class="large-9 columns">
            <div class="large-6 columns widget">
                <reservation-create></reservation-create>
            </div>
            <div class="large-6 columns widget">
                <reservation-mines></reservation-mines>
            </div>
        </div>
        <div class="large-9 columns">
            <div class="large-6 columns widget">
                <reservation-create></reservation-create>
            </div>
            <div class="large-6 columns widget">
                <reservation-planning></reservation-planning>
            </div>
        </div>
    </div>
</div>
