<div class="UserLogin">
    <div class="topBar">
    </div>
    <div class="row loginWrapper">
        <form class="small-5 small-centered columns" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="small-5 columns">
                <label for="mail" >Adresse Mail</label>
              </div>
              <div class="small-7 columns">
                  <input type="text" name="mail" [(ngModel)]="mail" required />
              </div>
            </div>
            <div class="row">
              <div class="small-5 columns">
                <label for="pass" >Mot de passe</label>
              </div>
              <div class="small-7 columns">
                  <input type="password" name="pass" [(ngModel)]="pass" required />
              </div>
            </div>
            <div [hidden]="!badlogin" class="alert callout">Email ou mot de passe incorrect</div>
            <div [hidden]="!error" class="alert callout">Une erreur s'est produite, veuillez réessayer</div>
            <input type="submit" value="Se connecter" class="button small-12 columns"/>
            <div class="button small-12 columns">Mot de passe oublié</div>
        </form>
    </div>
    <div class="bottomBar">
        <div class="logo"></div>
    </div>
</div>
