.UserLogin .topBar {
  background-color: #665c5c;
  height: 10vh;
  margin-bottom: 10vh; }

.UserLogin .bottomBar {
  margin-top: 10vh;
  height: 20vh; }
  .UserLogin .bottomBar .logo {
    background-image: url("../images/concorde.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 20vh;
    background-position: center; }
